/* VARIABLES & FONTS */
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");
$clr-bg: #f2f2f2;
$clr-primary: #c59d5f;
$clr-light: #fff;
$clr-dark: #262626;

/* BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#content {
  width: 100vw;
  height: 100vh;
  background: url("./assets/background.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

hr {
  width: 280px;
  border: 2px solid $clr-primary;
  margin: 24px auto;
}

button {
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px;
  background: $clr-primary;
  border: none;
  margin: 40px auto;
  cursor: pointer;
  &:hover {
    color: $clr-light;
    transform: scale(1.1);
  }
}

main::-webkit-scrollbar {
  width: 1em;
}

main::-webkit-scrollbar-thumb {
  background-color: $clr-primary;
  outline: 1px solid $clr-bg;
}

/* TYPOGRAPHY */
.white {
  color: $clr-light;
}

.gray {
  color: $clr-dark;
}

.golden {
  color: $clr-primary;
}

.text-center {
  text-align: center;
}

.cursive {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 96px;
  text-align: center;
  text-transform: capitalize;
}

h1 {
  font-size: 52px;
  font-weight: bold;
  margin-top: -64px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin: 8px;
}

p {
  line-height: 150%;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAV */
nav {
  display: flex;
  height: 94px;
  border-bottom: 2px solid $clr-primary;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      margin: 0 20px;
      color: $clr-light;
      text-transform: uppercase;
      &:hover {
        border-bottom: 2px solid $clr-primary;
        padding-bottom: 4px;
        cursor: pointer;
      }
    }
  }
}

/* CONTACT */
.contact {
  background: $clr-bg;
  height: 100%;
  max-height: calc(100% - 188px);
  overflow: scroll;
  .hours {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
  }
  p {
    max-width: 600px;
    margin-left: calc(50vw - 300px);
  }
  h2 {
    margin-top: 40px;
  }
}

/* MENU */
.menu {
  background: $clr-bg;
  height: 100%;
  max-height: calc(100% - 188px);
  overflow: scroll;
  .menu-item {
    max-width: 600px;
    margin-bottom: 40px;
    margin-left: calc(50vw - 300px);
    hr {
      border: 1px solid $clr-primary;
    }
  }
}

/* FOOTER */
footer {
  height: 94px;
  border-top: 2px solid $clr-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $clr-light;
  svg {
    color: $clr-light;
    font-size: 1.1rem;
  }
}
